.chat-screen__texts{
    padding: 0;
    list-style-type: none;

}
.chat-screen__texts > .text{
    background-color: rgba(38, 131, 103);
    width: 25%;
    height: 50%;
    margin: 0 0 5px 0;
    padding: 10px;
    border-radius: 6px;
    line-height: 30px;
    position: relative;
    left: 20px;
}
.chat-screen__texts > .text::after{
    content: "";
    border-right: 16px solid rgb(38, 131, 103);
    border-bottom: 16px solid transparent;
    position: absolute;
    top: 10px;
    left: -10px;
}

.chat-screen__texts > .text:hover:{
    background-color: rgb(38, 131, 103);
    transition: background-color 1500ms 200ms ease-in;

}

.chat-screen__texts > .text:hover::after{
    border-right: 16px solid rgb(38, 131, 103);
}